.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #8addee , #e5a986 );
    font-family: 'Arial', sans-serif;
    min-height: 100vh
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e1e1e1;
}
.rain{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    min-height: 250px;
}
.dataBox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    min-height: 400px;
    gap: 10px;
}
.dataPoint {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.icon {
    margin-right: 10px;
}

.data {
    font-weight: bold;
    color: #000000;
}

.button{
    cursor: pointer !important;
    min-height: 30px;
    min-width: 40px;
    display: flex;
}
.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
@media screen and (max-width: 768px) {
    .dataBox {
        flex-direction: column;
        height: max-content;
        min-height: 900px;

    }
    .dataContainer{
        margin: 50px 0px;
        height: max-content;
        min-height: 280px;
    }
}
    
